<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin login</title>
</head>
<body>
    <form action="/admin/login" method="post">
        <label for="username">Username:</label>
        <input type="text" placeholder="email" name="username">
        <label for="password"> Password:</label>
        <input type="password" placeholder="password" name="password">
        <button type="submit">Submit</button>
    </form>
 
</body>
</html>